.senha-ion-input-custom {
    border-width: 0;
    border-radius: 20px;
    width: 75%;
    height: auto;
    color:black;
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
  }

.button-ion-input-custom{
  --border-width: 0;
  --border-radius: 0;
  border-width: 0;
  border-radius: 0;
  height: auto;
}

.confirm{
  padding: 10px;
}

.login-container {
  background-image: url('https://i.ibb.co/r3CBygq/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
